<div class="card {%NOT_ECO%}">
  <div class="card__img-container">
    <img class="card__img" src="{%IMAGE%}" alt="{%PRODUCTNAME%}">
    <div class="card__eco-badge">Eco-Friendly</div>
  </div>
  <div class="card__content">
    <h2 class="card__title">{%PRODUCTNAME%}</h2>
    <p class="card__company">{%FROM%}</p>
    <span class="card__savings">Saves up to {%ENERGY_SAVINGS%} energy</span>
    <div class="card__details">
      <div class="card__price">${%PRICE%}</div>
      <a class="card__link" href="/product?id={%ID%}">View Details</a>
    </div>
  </div>
</div>
